<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="MessageService">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsDualHttpBinding>
      <wsHttpBinding>
        <binding name="MessageService">
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientCertificateBehavior">
          <clientCredentials>
            <serviceCertificate>
              <!-- 
              Setting the certificateValidationMode to PeerOrChainTrust means that if the certificate 
              is in the user's Trusted People store, then it will be trusted without performing a
              validation of the certificate's issuer chain. This setting is used here for convenience so that the 
              sample can be run without having to have certificates issued by a certificate authority (CA).
              This setting is less secure than the default, ChainTrust. The security implications of this 
              setting should be carefully considered before using PeerOrChainTrust in production code. 
              -->
              <authentication certificateValidationMode="None"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://localhost:59565/DuplexMessageService.svc/DuplexMessageService.svc"
        binding="wsDualHttpBinding" bindingConfiguration="MessageService" behaviorConfiguration="ClientCertificateBehavior"
        contract="Duplex.IDuplexMessageService" name="DuplexMessageService">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAhg/HqqHr146AdnPTsHu7OUJc+G4gAAAAAQAAADkCAAAwggI1MIIB46ADAgECAhDbjPhROCCclEs+SP3CRfF3MAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTUxMDA4MDM1ODI4WhcNMzkxMjMxMjM1OTU5WjAUMRIwEAYDVQQDEwlsb2NhbGhvc3QwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCuK3gYRGAkbM2rxnT5wm+qRJtF9vrv6qgF+csKvI8foU3FzjAMnzspr69tMOZLrzmHoz/LNqwp7g1zzwcy2VWOjYuLfXbBDvGqiGBrHRjYM0tT4EeY6vcL02ULa/2csm3v7509tL0J1Xx/8qg/3u1SWdwXlqIXu8mlBPdfIrGM/TJR2mI5Q20EcqhmbJzlxsILIp2HntY/QE6Me2Z3XPygpEbLmBEf1WZkj28L8GEk01rmGmfReZNR2kW8SBAodEvvB19CPBVse4+WrPPt9jmmbIi8RgZNIjBGAOQKe7FDN+HQf3u+eq+Sg3Lyurc5f/M67brIEGytYwi/sdtjvaHfAgMBAAGjSzBJMEcGA1UdAQRAMD6AEBLkCS0GHR1PAI1hIdwWZGOhGDAWMRQwEgYDVQQDEwtSb290IEFnZW5jeYIQBjdsAKoAZIoRz7jUqlw19DAJBgUrDgMCHQUAA0EAdZLB7HOeESx/XITPh5LvNy0IhHWZvCp4KRoJFutIrARJagErVBD4yxvGzPwBNC1TYBqFpObg7zVU3uBjhoUUaA==" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:59565/MessageService.svc/MessageService.svc"
        binding="wsHttpBinding" bindingConfiguration="MessageService" behaviorConfiguration="ClientCertificateBehavior"
        contract="RequestReply.IMessageService" name="MessageService">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAhg/HqqHr146AdnPTsHu7OUJc+G4gAAAAAQAAADkCAAAwggI1MIIB46ADAgECAhDbjPhROCCclEs+SP3CRfF3MAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTUxMDA4MDM1ODI4WhcNMzkxMjMxMjM1OTU5WjAUMRIwEAYDVQQDEwlsb2NhbGhvc3QwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCuK3gYRGAkbM2rxnT5wm+qRJtF9vrv6qgF+csKvI8foU3FzjAMnzspr69tMOZLrzmHoz/LNqwp7g1zzwcy2VWOjYuLfXbBDvGqiGBrHRjYM0tT4EeY6vcL02ULa/2csm3v7509tL0J1Xx/8qg/3u1SWdwXlqIXu8mlBPdfIrGM/TJR2mI5Q20EcqhmbJzlxsILIp2HntY/QE6Me2Z3XPygpEbLmBEf1WZkj28L8GEk01rmGmfReZNR2kW8SBAodEvvB19CPBVse4+WrPPt9jmmbIi8RgZNIjBGAOQKe7FDN+HQf3u+eq+Sg3Lyurc5f/M67brIEGytYwi/sdtjvaHfAgMBAAGjSzBJMEcGA1UdAQRAMD6AEBLkCS0GHR1PAI1hIdwWZGOhGDAWMRQwEgYDVQQDEwtSb290IEFnZW5jeYIQBjdsAKoAZIoRz7jUqlw19DAJBgUrDgMCHQUAA0EAdZLB7HOeESx/XITPh5LvNy0IhHWZvCp4KRoJFutIrARJagErVBD4yxvGzPwBNC1TYBqFpObg7zVU3uBjhoUUaA==" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>