<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="MessageService">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="MessageService1">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsDualHttpBinding>
      <wsHttpBinding>
        <binding name="MessageService">
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientCertificateBehavior">
          <clientCredentials>
            <serviceCertificate>
              <!-- 
              Setting the certificateValidationMode to PeerOrChainTrust means that if the certificate 
              is in the user's Trusted People store, then it will be trusted without performing a
              validation of the certificate's issuer chain. This setting is used here for convenience so that the 
              sample can be run without having to have certificates issued by a certificate authority (CA).
              This setting is less secure than the default, ChainTrust. The security implications of this 
              setting should be carefully considered before using PeerOrChainTrust in production code. 
              -->
              <authentication certificateValidationMode="PeerOrChainTrust"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://localhost:59565/MessageService.svc/MessageService.svc"
        binding="wsHttpBinding" bindingConfiguration="MessageService"
        contract="ChattyServer.IMessageService" name="MessageService">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAZCREZH014lkgu7pCQL8itvDvheUgAAAAAQAAADkCAAAwggI1MIIB46ADAgECAhCHyLAVfCqlsEJhDAfeL6HNMAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTUxMDA4MDMzODI2WhcNMzkxMjMxMjM1OTU5WjAUMRIwEAYDVQQDEwlsb2NhbGhvc3QwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC2aEFTz9Cl+D9L6V9gENXEJLuo8Q4t8db8z6Y+dT597nKYptoyPFkbDrAGkXM8oZ7Ob2OhsAAPMHsy6gf4a94J2DjKsHfzeOPeiD/ICogKyGeUyvPxh9KnrW+j+eXA9E5cdfuKg91cjl1FoMo0x8I+sJK6wMsAxiNC++dyZdLJCDHuM13svLKQJgrNEen43eZOnYFMe/e1aQbzdaO4CyE++Hvtz6WYFi3MGnkxRHYBjX7vSLV4wJU74/hqNtIdjSxg6AZgKh6400CyOsQO2E/eokock0Z9HOEVAtqDRQXb6Vu89SX3OKjsOTTT6Av5ct3pOG0/2G0ThssjZ0KkHGNhAgMBAAGjSzBJMEcGA1UdAQRAMD6AEBLkCS0GHR1PAI1hIdwWZGOhGDAWMRQwEgYDVQQDEwtSb290IEFnZW5jeYIQBjdsAKoAZIoRz7jUqlw19DAJBgUrDgMCHQUAA0EAEsTA7sok+NxetIAUHzRLNtR1YzodF3qVAbrVgDGR6yY/CCxwF518pz9tbvsFc9uNbGCDdYb+nKHjD/lw4+4iQw==" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:59565/MessageService.svc/MessageService.svc"
        binding="wsDualHttpBinding" bindingConfiguration="MessageService1"
        contract="ChattyServer.IMessageService" name="MessageService1">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAhg/HqqHr146AdnPTsHu7OUJc+G4gAAAAAQAAADkCAAAwggI1MIIB46ADAgECAhDbjPhROCCclEs+SP3CRfF3MAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTUxMDA4MDM1ODI4WhcNMzkxMjMxMjM1OTU5WjAUMRIwEAYDVQQDEwlsb2NhbGhvc3QwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCuK3gYRGAkbM2rxnT5wm+qRJtF9vrv6qgF+csKvI8foU3FzjAMnzspr69tMOZLrzmHoz/LNqwp7g1zzwcy2VWOjYuLfXbBDvGqiGBrHRjYM0tT4EeY6vcL02ULa/2csm3v7509tL0J1Xx/8qg/3u1SWdwXlqIXu8mlBPdfIrGM/TJR2mI5Q20EcqhmbJzlxsILIp2HntY/QE6Me2Z3XPygpEbLmBEf1WZkj28L8GEk01rmGmfReZNR2kW8SBAodEvvB19CPBVse4+WrPPt9jmmbIi8RgZNIjBGAOQKe7FDN+HQf3u+eq+Sg3Lyurc5f/M67brIEGytYwi/sdtjvaHfAgMBAAGjSzBJMEcGA1UdAQRAMD6AEBLkCS0GHR1PAI1hIdwWZGOhGDAWMRQwEgYDVQQDEwtSb290IEFnZW5jeYIQBjdsAKoAZIoRz7jUqlw19DAJBgUrDgMCHQUAA0EAdZLB7HOeESx/XITPh5LvNy0IhHWZvCp4KRoJFutIrARJagErVBD4yxvGzPwBNC1TYBqFpObg7zVU3uBjhoUUaA==" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>