<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <system.serviceModel>
    <services>
      <service behaviorConfiguration="MessageServiceBehavior" name="ChattyServices.MessageService">
        <endpoint address="MessageService" binding="wsHttpBinding" bindingConfiguration="Binding1"
          contract="ChattyServices.IMessageService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9001/Services" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="MessageServiceBehavior" name="ChattyServices.DuplexMessageService">
        <endpoint address="MessageService" binding="wsDualHttpBinding"
          bindingConfiguration="Binding1" contract="ChattyServices.IDuplexMessageService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9002/Services" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <bindings>
      <wsHttpBinding>
        <!-- Username binding -->
        <binding name="Binding1">
          <security mode="Message">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </wsHttpBinding>
      <wsDualHttpBinding>
        <!-- Username binding -->
        <binding name="Binding1">
          <security mode="Message">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </wsDualHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="MessageServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceAuthorization principalPermissionMode="Custom">
            <authorizationPolicies>
              <clear/>
              <add policyType="ChattyServices.CustomAuthorizationPolicy, ChattyServices"/>
            </authorizationPolicies>
          </serviceAuthorization>

          <serviceCredentials>
            <!-- 
            The serviceCredentials behavior allows one to specify a custom validator for username/password combinations.				  
            -->
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="ChattyServices.CustomUserNamePasswordValidator, ChattyServices"/>
            <!-- 
            The serviceCredentials behavior allows one to define a service certificate.
            A service certificate is used by a client to authenticate the service and provide message protection.
            This configuration references the "localhost" certificate installed during the setup instructions.
            -->
            <serviceCertificate findValue="localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>
